<!-- This will be the structured version of our first assignment -->
<!DOCTYPE html>
<html>

<head>
	<title>The Office Fan SoundBoard</title>
	<link rel="stylesheet" href="./soundboardcss.css">
</head>

<body>

	<img src="../img/office_header.jpg" align="middle" alt="topPic">

	<header>
		<h1>The Office Fan SoundBoard</h1>
	</header>

	<button type="button">Login</button>

	<div>

		<div class="one">
			<img src="../pictures/pic1.jpg" alt="pic1"/>
			<audio controls>
				<source src="../sounds/sound1.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="two">
			<img src="../pictures/pic2.jpg" alt="pic2"/>
			<audio controls>
				<source src="../sounds/sound2.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="three">
			<img src="../pictures/pic3.jpg" alt="pic3"/>
			<audio controls>
				<source src="../sounds/sound3.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="fout">
			<img src="../pictures/pic4.jpg" alt="pic4"/>
			<audio controls>
				<source src="../sounds/sound4.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="five">
			<img src="../pictures/pic5.jpg" alt="pic5"/>
			<audio controls>
				<source src="../sounds/sound5.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="six">
			<img src="../pictures/pic6.jpg" alt="pic6"/>
			<audio controls>
				<source src="../sounds/sound6.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="seven">
			<img src="../pictures/pic7.jpg" alt="pic7"/>
			<audio controls>
				<source src="../sounds/sound7.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="eight">
			<img src="../pictures/pic8.jpg" alt="pic8"/>
			<audio controls>
				<source src="../sounds/sound8.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
			</div>

		<div class="nine">
			<img src="../pictures/pic9.jpg" alt="pic9"/>
			<audio controls>
				<source src="../sounds/sound9.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="ten">
			<img src="../pictures/pic10.jpg" alt="pic10"/>
			<audio controls>
				<source src="../sounds/sound10.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="eleven">
			<img src="../pictures/pic11.jpg" alt="pic11"/>
			<audio controls>
				<source src="../sounds/sound11.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

		<div class="twelve">
			<img src="../pictures/pic12.jpg" alt="pic12"/>
			<audio controls>
				<source src="../sounds/sound12.mp3" type="audio/mp3">
				Your browser does not support this audio element.
			</audio>
		</div>

	</div>


	<p>Bears. Beets. Battlestar Galactica.</p>

</body>
</html>
