<!-- This will be the module version of our third assignment -->
<!DOCTYPE html>
<html>

<head>
	<title>The Office Fan SoundBoard</title>
	<link rel="stylesheet" href="./hw3css.css">
	<script src="https://unpkg.com/vue"></script>
	
</head>
</head>

<body>

<img id="topimg" src="../img/office_header.jpg" align="middle" alt="topPic">

<header>
<h1>The Office Fan SoundBoard</h1>
</header>

<button type="button">Login</button>

<div class="dropdown">
  <button onclick="myThemeFunction()" class="dropbtn">Change Theme</button>
  <div id="myDropdownTheme" class="dropdown-content">
    <a onclick="black()" href="#">Black</a>
    <a onclick="white()" href="#">White</a>
  </div>
</div>

<div class="dropdown">
  <button onclick="myContentFunction()" class="dropbtn">Change Content</button>
  <div id="myDropdownContent" class="dropdown-content">
    <a onclick="theOffice()" href="#">The Office</a>
    <a onclick="spongebob()" href="#">Spongebob</a>
  </div>
</div>


<div>

<div>
<img id="pic1" src="../pictures/pic1.jpg" alt="pic1"/>
<audio id="audio1" controls>
<source id="sound1" src="../sounds/sound1.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic2" src="../pictures/pic2.jpg" alt="pic2"/>
<audio id="audio2" controls>
<source id="sound2" src="../sounds/sound2.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic3" src="../pictures/pic3.jpg" alt="pic3"/>
<audio id="audio3" controls>
<source id="sound3" src="../sounds/sound3.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic4" src="../pictures/pic4.jpg" alt="pic4"/>
<audio id="audio4" controls>
<source id="sound4" src="../sounds/sound4.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic5" src="../pictures/pic5.jpg" alt="pic5"/>
<audio id="audio5" controls>
<source id="sound5" src="../sounds/sound5.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic6" src="../pictures/pic6.jpg" alt="pic6"/>
<audio id="audio6" controls>
<source id="sound6" src="../sounds/sound6.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic7" src="../pictures/pic7.jpg" alt="pic7"/>
<audio id="audio7" controls>
<source id="sound7" src="../sounds/sound7.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic8" src="../pictures/pic8.jpg" alt="pic8"/>
<audio id="audio8" controls>
<source id="sound8" src="../sounds/sound8.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic9" src="../pictures/pic9.jpg" alt="pic9"/>
<audio id="audio9" controls>
<source id="sound9" src="../sounds/sound9.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic10" src="../pictures/pic10.jpg" alt="pic10"/>
<audio id="audio10" controls>
<source id="sound10" src="../sounds/sound10.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic11" src="../pictures/pic11.jpg" alt="pic11"/>
<audio id="audio11" controls>
<source id="sound11" src="../sounds/sound11.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic12" src="../pictures/pic12.jpg" alt="pic12"/>
<audio id="audio12" controls>
<source id="sound12" src="../sounds/sound12.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

</div>

<footer>
<p>Bears. Beets. Battlestar Galactica.</p>
</footer>

</body>
</html>

<!-- File size: 2,729 bytes -->
<!-- Load time: 3.35s -->
