<!-- This will be the vanilla version of our assignment -->
<!DOCTYPE html>
<html>

<head>
	<title>The Office Fan SoundBoard</title>
	<link rel="stylesheet" href="./hw3.css">
</head>

<body>

	<header> <!-- header pic and title goes here -->
	</header>

	<button type="button">Login</button>

	<div class="dropdown">
		<button onclick="myThemeFunction()" class="dropbtn">Change Theme</button>
		<div id="myDropdownTheme" class="dropdown-content">
			<a onclick="black()" href="#">Black</a>
			<a onclick="white()" href="#">White</a>
		</div>
	</div>


	<div class="dropdown">
		<button onclick="myContentFunction()" class="dropbtn">Change Content</button>
		<div id="myDropdownContent" class="dropdown-content">
			<a onclick="theOffice()" href="#">The Office</a>
			<a onclick="spongebob()" href="#">Spongebob</a>
		</div>
	</div>

	<main> <!-- image and sound content goes here -->
	</main>

	<footer> <!-- footer text goes here -->
	</footer> 


<!-- soundboard item template -->
<template id="soundboardItems">
	<div class="content">
		<img id="" src="" alt="">
		<audio id="" controls>
			<source id="" src="" type="audio/mp3">
			Your browser does not support this audio element.
		</audio>
	</div>
</template>

<!-- soundboard header image and text template -->
<template id="header">
	<img id="" src="" alt="">
	<h1></h1>
</template>

<!-- soundboard footer text template -->
<template id="footer">
	<p></p>
</template>

</body>
</html>

<script>

	document.body.onload = myFunction("theOffice.json");

	function myFunction(filename) {
		var xmlhttp = new XMLHttpRequest();
		var url = filename;

		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var myData = JSON.parse(this.responseText);
				putContent(myData);

			}
		};
		xmlhttp.open("GET", url, true);
		xmlhttp.send();
	}

	function putContent(myData) {

		var mainBody = document.querySelector("main");
		var headerBody = document.querySelector("header");
		var footerBody = document.querySelector("footer");

		//if template supported
		if ('content' in document.createElement('template')) {

			headerBody.innerHTML = ""
			var head = document.querySelector('#header');
			var pic = head.content.querySelector("img");
			var title = head.content.querySelector("h1");
			pic.id = myData.pictures[0].title;
			pic.src = myData.pictures[0].location;
			pic.alt = myData.pictures[0].title;
			title.innerHTML = myData.titles[0].header;
			var headItem = document.importNode(head.content, true);
            headerBody.appendChild(headItem);

            mainBody.innerHTML = "";
			var i;
			for(i = 1; i < 13; i++) {
				var template = document.querySelector('#soundboardItems');
				var image = template.content.querySelector("img");
				var audio = template.content.querySelector("audio");
				var sound = template.content.querySelector("source");
				image.id = myData.pictures[i].title;
				image.src = myData.pictures[i].location;
				image.alt = myData.pictures[i].title;
				audio.id = "audio" + i;
				sound.id = myData.sounds[i-1].title;
				sound.src = myData.sounds[i-1].location;

				var item = document.importNode(template.content, true);
                mainBody.appendChild(item);
			}

			footerBody.innerHTML = ""
			var foot = document.querySelector('#footer');
			var footer = foot.content.querySelector("p");
			footer.innerHTML = myData.titles[1].footer;
			var footItem = document.importNode(foot.content, true);
            footerBody.appendChild(footItem);

		}

		//else if template not supported
		else {
			var html = "";
			html += '<img id="' + myData.pictures[0].title + '" src="' + myData.pictures[0].location + '" alt=' + myData.pictures[0].title + '</img>';
			html += '<h1> ' + myData.titles[0].header + '</h1>'
			headerBody.innerHTML = html;

            mainBody.innerHTML = "";
			var html1 = "";
			var i;
			for(i = 0; i < 12; i++) {
				html1 += '<div>'
				html1 += '<img id="' + myData.pictures[i+1].title + '" src="' + myData.pictures[i+1].location + '" alt=' + myData.pictures[i+1].title + "</img>";
				html1 += '<audio id="audio' + i  + " <controls>";
				html1 += '<source id="' + myData.sounds[i].title + '" src="' + myData.sounds[i].location + '" type="audio/mp3">';
				html1 += '</audio>';
				html1 += '</div>'
			}
			mainBody.innerHTML = html1;

			var html2 = "";
			html2 += '<p> ' + myData.titles[1].footer + '</p>'
			footerBody.innerHTML = html2;
		}

	}

	function theOffice() {
		document.body.onload = myFunction("theOffice.json");
	}

	function spongebob() {
		document.body.onload = myFunction("spongebob.json");
	}

	function black() {
		document.body.style.backgroundColor = "black";
		document.body.style.color = "white";
	}

	function white() {
		document.body.style.backgroundColor = "white";
		document.body.style.color = "black";
	}

</script>




<script> 
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */

function myThemeFunction() {
	document.getElementById("myDropdownTheme").classList.toggle("show");
}

function myContentFunction() {
	document.getElementById("myDropdownContent").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
	if (!event.target.matches('.dropbtn')) {

		var dropdowns = document.getElementsByClassName("dropdown-content");
		var i;
		for (i = 0; i < dropdowns.length; i++) {
			var openDropdown = dropdowns[i];
			if (openDropdown.classList.contains('show')) {
				openDropdown.classList.remove('show');
			}
		}
	}
}
</script>

<script type="text/javascript">
	function toggle_visibility(id) {
		var e = document.getElementById(id);
		if(e.style.display == 'block')
			e.style.display = 'none';
		else
			e.style.display = 'block';
	}
</script>

<!-- File size: 2,729 bytes -->
<!-- Load time: 3.35s -->
