<!-- This will be the structured version of our first assignment -->
<!DOCTYPE html>
<html>

<head>
	<title>The Office Fan SoundBoard</title>
	<link rel="stylesheet" href="./hw3css.css">
</head>

<body>

<img id="topimg" src="../img/office_header.jpg" align="middle" alt="topPic">

<header>
<h1>The Office Fan SoundBoard</h1>
</header>

<button type="button">Login</button>

<div class="dropdown">
  <button onclick="myThemeFunction()" class="dropbtn">Change Theme</button>
  <div id="myDropdownTheme" class="dropdown-content">
    <a onclick="black()" href="#">Black</a>
    <a onclick="white()" href="#">White</a>
  </div>
</div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myThemeFunction() {
    document.getElementById("myDropdownTheme").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>
function black() {
	document.body.style.backgroundColor = "black";
	document.body.style.color = "white";
	var y = document.getElementsByClassName(dropbtn);
	y.style.backgroundColor = "black";
	y.style.color = "white";}

function white() {
	document.body.style.backgroundColor = "white";
	document.body.style.color = "black";
	var x = document.getElementsByClassName(dropbtn);
	x.style.backgroundColor = "white";
	x.style.color = "black";
}
</script>



<div class="dropdown">
  <button onclick="myContentFunction()" class="dropbtn">Change Content</button>
  <div id="myDropdownContent" class="dropdown-content">
    <a onclick="theOffice()" href="#">The Office</a>
    <a onclick="spongebob()" href="#">Spongebob</a>
  </div>
</div>


<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myContentFunction() {
    document.getElementById("myDropdownContent").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>
function theOffice() {
	document.getElementsByTagName("h1")[0].innerHTML = "The Office Fan SoundBoard";
	document.getElementsByTagName("p")[0].innerHTML = "Bears. Beets. Battlestar Galactica.";

	document.getElementById("topimg").src="../img/office_header.jpg";
	document.getElementById("pic1").src="../pictures/pic1.jpg";
	document.getElementById("pic2").src="../pictures/pic2.jpg";
	document.getElementById("pic3").src="../pictures/pic3.jpg";
	document.getElementById("pic4").src="../pictures/pic4.jpg";
	document.getElementById("pic5").src="../pictures/pic5.jpg";
	document.getElementById("pic6").src="../pictures/pic6.jpg";
	document.getElementById("pic7").src="../pictures/pic7.jpg";
	document.getElementById("pic8").src="../pictures/pic8.jpg";
	document.getElementById("pic9").src="../pictures/pic9.jpg";
	document.getElementById("pic10").src="../pictures/pic10.jpg";
	document.getElementById("pic11").src="../pictures/pic11.jpg";
	document.getElementById("pic12").src="../pictures/pic12.jpg";
}

function spongebob() {
	document.getElementsByTagName("h1")[0].innerHTML = "The Spongebob Squarepants Fan SoundBoard";
	document.getElementsByTagName("p")[0].innerHTML = "IM READY!";

	document.getElementById("topimg").src="../spongebobPics/headpic.jpg";
	document.getElementById("pic1").src="../spongebobPics/pic1.jpg";
	document.getElementById("pic2").src="../spongebobPics/pic2.jpg";
	document.getElementById("pic3").src="../spongebobPics/pic3.jpg";
	document.getElementById("pic4").src="../spongebobPics/pic4.jpg";
	document.getElementById("pic5").src="../spongebobPics/pic5.jpg";
	document.getElementById("pic6").src="../spongebobPics/pic6.jpg";
	document.getElementById("pic7").src="../spongebobPics/pic7.jpg";
	document.getElementById("pic8").src="../spongebobPics/pic8.jpg";
	document.getElementById("pic9").src="../spongebobPics/pic9.jpg";
	document.getElementById("pic10").src="../spongebobPics/pic10.jpg";
	document.getElementById("pic11").src="../spongebobPics/pic11.jpg";
	document.getElementById("pic12").src="../spongebobPics/pic12.jpg";

	document.getElementById("sound1").src="../spongebobSounds/sound1.mp3";
	document.getElementById("sound2").src="../spongebobSounds/sound2.mp3";
	document.getElementById("sound3").src="../spongebobSounds/sound3.mp3";
	document.getElementById("sound4").src="../spongebobSounds/sound4.mp3";
	document.getElementById("sound5").src="../spongebobSounds/sound5.mp3";
	document.getElementById("sound6").src="../spongebobSounds/sound6.mp3";
	document.getElementById("sound7").src="../spongebobSounds/sound7.mp3";
	document.getElementById("sound8").src="../spongebobSounds/sound8.mp3";
	document.getElementById("sound9").src="../spongebobSounds/sound9.mp3";
	document.getElementById("sound10").src="../spongebobSounds/sound10.mp3";
	document.getElementById("sound11").src="../spongebobSounds/sound11.mp3";
	document.getElementById("sound12").src="../spongebobSounds/sound12.mp3";
}
</script>


<div>

<div>
<img id="pic1" src="../pictures/pic1.jpg" alt="pic1"/>
<audio controls>
<source id="sound1" src="../sounds/sound1.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic2" src="../pictures/pic2.jpg" alt="pic2"/>
<audio controls>
<source id="sound2" src="../sounds/sound2.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic3" src="../pictures/pic3.jpg" alt="pic3"/>
<audio controls>
<source id="sound3" src="../sounds/sound3.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic4" src="../pictures/pic4.jpg" alt="pic4"/>
<audio controls>
<source id="sound4" src="../sounds/sound4.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic5" src="../pictures/pic5.jpg" alt="pic5"/>
<audio controls>
<source id="sound5" src="../sounds/sound5.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic6" src="../pictures/pic6.jpg" alt="pic6"/>
<audio controls>
<source id="sound6" src="../sounds/sound6.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic7" src="../pictures/pic7.jpg" alt="pic7"/>
<audio controls>
<source id="sound7" src="../sounds/sound7.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic8" src="../pictures/pic8.jpg" alt="pic8"/>
<audio controls>
<source id="sound8" src="../sounds/sound8.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic9" src="../pictures/pic9.jpg" alt="pic9"/>
<audio controls>
<source id="sound9" src="../sounds/sound9.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic10" src="../pictures/pic10.jpg" alt="pic10"/>
<audio controls>
<source id="sound10" src="../sounds/sound10.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic11" src="../pictures/pic11.jpg" alt="pic11"/>
<audio controls>
<source id="sound11" src="../sounds/sound11.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

<div>
<img id="pic12" src="../pictures/pic12.jpg" alt="pic12"/>
<audio controls>
<source id="sound12" src="../sounds/sound12.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>
</div>

</div>

<footer>
<p>Bears. Beets. Battlestar Galactica.</p>
</footer>

</body>
</html>

<!-- File size: 2,729 bytes -->
<!-- Load time: 3.35s -->
