<!-- This will be the presentation version of our first assignment -->
<!DOCTYPE html>
<html>

<head>
  <title>The Office Fan SoundBoard</title>
</head>

<body bgcolor="#000000" text="white"> 
<!-- Error: The bgcolor attribute on the body element is obsolete. Use CSS instead. This means that this way of styling is no longer supported so it is no longer valid and will cause problems with our users. Ee should be using CSS instead. This is not of any concern because we cannot use CSS for this part of the assignment and the styling still works. This reasoning applies to all the errors. -->
<!-- Error: The text attribute on the body element is obsolete. Use CSS instead. -->

<center><img src="../img/office_header.jpg" align="middle" alt="topPic"></center>
<!-- Error: The center element is obsolete. Use CSS instead. -->
<!-- Error: The align attribute on the img element is obsolete. Use CSS instead. -->

<h1 align="center">The Office Fan SoundBoard
<!-- Error: The align attribute on the h1 element is obsolete. Use CSS instead. -->

<button type="button">Login</button>
</h1>

<table align="center">
<!-- Error: The align attribute on the h1 element is obsolete. Use CSS instead. -->
  <tr>
    <td><img src="../pictures/pic1.jpg" width="250" align="middle" alt="pic1"/></td>
    <td><img src="../pictures/pic2.jpg" width="250" align="middle" alt="pic2"/></td>
    <td><img src="../pictures/pic3.jpg" width="250" align="middle" alt="pic3"/></td>
    <td><img src="../pictures/pic4.jpg" width="250" align="middle" alt="pic4"/></td>
    <!-- Error: The align attribute on the img element is obsolete. Use CSS instead. This is the same error for all 4 images.-->
  </tr>

  <tr>
    <td>
    	<audio controls>
  			<source src="../sounds/sound1.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound2.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td> 
    <td>
    	<audio controls>
  			<source src="../sounds/sound3.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound4.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
  </tr>

  <tr>
    <td><img src="../pictures/pic5.jpg" width="250" align="middle" alt="pic5"/></td>
    <td><img src="../pictures/pic6.jpg" width="250" align="middle" alt="pic6"/></td>
    <td><img src="../pictures/pic7.jpg" width="250" align="middle" alt="pic7"/></td>
    <td><img src="../pictures/pic8.jpg" width="250" align="middle" alt="pic8"/></td>
    <!-- Error: The align attribute on the img element is obsolete. Use CSS instead. This is the same error for all 4 images.-->
  </tr>

  <tr>
    <td>
    	<audio controls>
  			<source src="../sounds/sound5.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound6.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td> 
    <td>
    	<audio controls>
  			<source src="../sounds/sound7.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound8.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
  </tr>

  <tr>
    <td><img src="../pictures/pic9.jpg" width="250" align="middle" alt="pic9"/></td>
    <td><img src="../pictures/pic10.jpg" width="250" align="middle" alt="pic10"/></td>
    <td><img src="../pictures/pic11.jpg" width="250" align="middle" alt="pic11"/></td>
    <td><img src="../pictures/pic12.jpg" width="250" align="middle" alt="pic12"/></td>
    <!-- Error: The align attribute on the img element is obsolete. Use CSS instead. This is the same error for all 4 images.-->
  </tr>

  <tr>
    <td>
    	<audio controls>
  			<source src="../sounds/sound9.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound10.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td> 
    <td>
    	<audio controls>
  			<source src="../sounds/sound11.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound12.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
  </tr>
</table>

<footer>
	<p align="center"> Bears. Beets. Battlestar Galactica. </p>
</footer>

</body>

</html>
