<!-- This will be the presentation version of our first assignment -->
<!DOCTYPE html>
<html>

<head>
  <title>The Office Fan SoundBoard</title>
</head>

<body bgcolor="#000000" text="white">

<center><img src="../img/office_header.jpg" align="middle" alt="topPic"></center>
<h1 align="center">The Office Fan SoundBoard
<button type="button">Login</button>
</h1>

<table style="width:100%" align="center">
  <tr>
    <td><img src="../pictures/pic1.jpg" width="250" align="middle" alt="pic1"/></td>
    <td><img src="../pictures/pic2.jpg" width="250" align="middle" alt="pic2"/></td>
    <td><img src="../pictures/pic3.jpg" width="250" align="middle" alt="pic3"/></td>
    <td><img src="../pictures/pic4.jpg" width="250" align="middle" alt="pic4"/></td>
  </tr>

  <tr>
    <td>
    	<audio controls>
  			<source src="../sounds/sound1.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound2.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td> 
    <td>
    	<audio controls>
  			<source src="../sounds/sound3.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound4.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
  </tr>

  <tr>
    <td><img src="../pictures/pic5.jpg" width="250" align="middle" alt="pic5"/></td>
    <td><img src="../pictures/pic6.jpg" width="250" align="middle" alt="pic6"/></td>
    <td><img src="../pictures/pic7.jpg" width="250" align="middle" alt="pic7"/></td>
    <td><img src="../pictures/pic8.jpg" width="250" align="middle" alt="pic8"/></td>
  </tr>

  <tr>
    <td>
    	<audio controls>
  			<source src="../sounds/sound5.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound6.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td> 
    <td>
    	<audio controls>
  			<source src="../sounds/sound7.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound8.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
  </tr>

  <tr>
    <td><img src="../pictures/pic9.jpg" width="250" align="middle" alt="pic9"/></td>
    <td><img src="../pictures/pic10.jpg" width="250" align="middle" alt="pic10"/></td>
    <td><img src="../pictures/pic11.jpg" width="250" align="middle" alt="pic11"/></td>
    <td><img src="../pictures/pic12.jpg" width="250" align="middle" alt="pic12"/></td>
  </tr>

  <tr>
    <td>
    	<audio controls>
  			<source src="../sounds/sound9.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound10.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td> 
    <td>
    	<audio controls>
  			<source src="../sounds/sound11.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
    <td>
    	<audio controls>
  			<source src="../sounds/sound12.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</td>
  </tr>
</table>

<footer align="center">
	Bears. Beets. Battlestar Galactica.
</footer>

</body>

</html>
