body {
    background-color: #000000;
    color: #ffffff
} 

header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

body > img:nth-child(1) {
    display: block;
    margin: auto;
}

body > button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

div > div {
    height: 250px;
    width: 250px;
    float: left;
    padding: 10px;
    display: table;
}

div > img {
    height: 250px;
    width: 250px;
}

body > p {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}