<!-- This will be the structured version of our first assignment -->
<!DOCTYPE html>
<html>
<body>


<head>
	<title>The Office Fan SoundBoard</title>
</head>

<h1>The Office Fan SoundBoard</h1>

<button type="button">Login</button>

<img src="../pictures/pic1.jpg"/>
<audio controls>
<source src="../sounds/sound1.mp3" type="audio/mp3" alt="pic1">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic2.jpg"/>
<audio controls>
<source src="../sounds/sound2.mp3" type="audio/mp3" alt="pic2">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic3.jpg"/>
<audio controls>
<source src="../sounds/sound3.mp3" type="audio/mp3" alt="pic3">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic4.jpg"/>
<audio controls>
<source src="../sounds/sound4.mp3" type="audio/mp3" alt="pic4">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic5.jpg"/>
<audio controls>
<source src="../sounds/sound5.mp3" type="audio/mp3" alt="pic5">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic6.jpg"/>
<audio controls>
<source src="../sounds/sound6.mp3" type="audio/mp3" alt="pic6">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic7.jpg"/>
<audio controls>
<source src="../sounds/sound7.mp3" type="audio/mp3" alt="pic7">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic8.jpg"/>
<audio controls>
<source src="../sounds/sound8.mp3" type="audio/mp3" alt="pic8">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic9.jpg"/>
<audio controls>
<source src="../sounds/sound9.mp3" type="audio/mp3" alt="pic9">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic10.jpg"/>
<audio controls>
<source src="../sounds/sound10.mp3" type="audio/mp3" alt="pic10">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic11.jpg"/>
<audio controls>
<source src="../sounds/sound11.mp3" type="audio/mp3" alt="pic11">
Your browser does not support this audio element.
</audio>

<img src="../pictures/pic12.jpg"/>
<audio controls>
<source src="../sounds/sound12.mp3" type="audio/mp3" alt="pic12">
Your browser does not support this audio element.
</audio>

<p>Bears. Beets. Battlestar Galactica.</p>

</body>
</html>
