<!-- This will be the structured version of our first assignment -->
<!DOCTYPE html>
<html>
<body>

<header>
	<title>The Office Fan SoundBoard</title>
</header>

<h1>The Office Fan SoundBoard</h1>

<button type="button">Login</button>

<audio controls>
<source src="../sounds/sound1.mp3" type="audio/mp3">
<source src="../sounds/sound2.mp3" type="audio/mp3">
<source src="../sounds/sound3.mp3" type="audio/mp3">
<source src="../sounds/sound4.mp3" type="audio/mp3">
<source src="../sounds/sound5.mp3" type="audio/mp3">
<source src="../sounds/sound6.mp3" type="audio/mp3">
<source src="../sounds/sound7.mp3" type="audio/mp3">
<source src="../sounds/sound8.mp3" type="audio/mp3">
<source src="../sounds/sound9.mp3" type="audio/mp3">
<source src="../sounds/sound10.mp3" type="audio/mp3">
<source src="../sounds/sound11.mp3" type="audio/mp3">
<source src="../sounds/sound12.mp3" type="audio/mp3">
Your browser does not support this audio element.
</audio>

<p>My first paragraph.</p>

</body>
</html>
