/* Hint: use relative measurements you'll find them useful! */

@import url('https://fonts.googleapis.com/css?family=Monoton');  /* Set this for Monoton...figure out their syntax */

* {
    box-sizing: border-box;
}

body {
    background-image: url("background.png"); 
    background-color: #ffffff;
} 

svg{
	-webkit-transition: -webkit-transform 2.5s ease-in-out; 
	-webkit-transition: all 2.5s ease-in;
	fill: #ffffff;
}

svg:hover {
	-webkit-transform: scale(2.5) rotate(1080deg);
	fill: black;
}

main {
	border: 30px solid transparent;
	-webkit-border-image: url("border.gif") 20% round;
    margin: -145px 100px 50px;
    background: white;
}

header {
	padding: 20px 20px 100px 20px;
}

.logo{
    height: 50px;
    width: 100px;
    line-height: 50px;

    -moz-border-radius: 100px/50px; /* or 50% */
    border-radius: 100px/50px; /* or 50% */
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 1);

    background-color: rgb(255,105,180);
    color: black;
    text-align: center;
    font-size: 2em;
    font-family: 'Monoton', sans-serif;
    
    float: left;
    padding-bottom: 40px;
}

.fun{
    font-family: monospace;
    text-transform: uppercase;
    font-size: 4em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;

    -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));

    display: flex;
    justify-content: flex-end;
    float: right;
}

section {
	/* color rgb(243,234,95) is used */
	display: flex;
	flex-direction: column-reverse;
    background-color: rgb(243,234,95);
    font-family: "Comic Sans MS", cursive;
    text-transform: lowercase;
    color: white;
}

section > div:nth-child(1) {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */   
    background-color: rgb(192,77,249);
    width: 50%;
    margin-left: auto;
    padding: 10px 10px 10px 10px;
}

section > div:nth-child(2) {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */   
    background-color: rgb(43,209,252);
    width: 50%;
    text-align: right;
    padding: 10px 10px 10px 10px;
}

section > div:nth-child(3) {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */   
    background-color: rgb(192,77,249);
    width: 50%;
    margin-left: auto;
    padding: 10px 10px 10px 10px;
}

section > div:nth-child(3):after {
	/* gave you the nth child after selector for free to inspire you */
	/* generated content in here ... a property can do that */
	content: ' ' "\2665" '' "\2665" '' "\2665";
}

section > div:nth-child(4) {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */   
    background-color: rgb(43,209,252);
    width: 50%;
    text-align: right; 
    padding: 10px 10px 10px 10px;
}

section > aNastyNthChildSelectorToWrite {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
	/* background color is  rgb(192,77,249) */

    
}
section > aNastyNthChildSelectorToWrite {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    /* background color is  rgb(43,209,252) */

}

footer{
    background-color: rgb(255,105,180);
    margin: 50px -20px -20px -20px;
    position: relative;
    text-align: center;
    font-family: cursive;
}

div > img{
	height: 100px;
	width: 80px;
	padding-right: 5px;
	
	-webkit-transition: all 0.5s ease-in-out; 
	-webkit-transition: opacity 0.2s ease-in-out;

}

img:hover + span {
	/*opacity: 1;	*/
	display: inline;
}

img:hover + span:before {
	/*opacity: 1;	*/
	display: inline;
}

footer > div > span{
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	/*width: 150px;
	height: 75px;*/
  
	padding: 3px;
	border-radius: 5px;
	border: solid black;
	background: white;
	
	/*opacity: 0;*/
	display: none;	
}

footer > div > span:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 8px;
  width: 0;
  height: 0;
  
  border-top: 6px solid transparent;
  border-right: 12px solid black;
  border-bottom: 6px solid transparent;
 
  	/*opacity: 0;*/
  	display: none;
}

span{
}

	
	/* a freebie for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    height: 125px;
}

[title~=bugs]{
	width: 30px;
	height: 30px;
}

/* Opps truncated the file for you to fill in */

/* Solution given should be below 250 lines, solution we had was below 200 easily */