/* Hint: use relative measurements you'll find them useful! */

@import url('https://fonts.googleapis.com/css?family=Monoton');  /* Set this for Monoton...figure out their syntax */

* {
    box-sizing: border-box;
}

body {
    background-image: url("background.png"); 
    background-color: #ffffff;
    border-image: url("border.gif") 25 30 10 20 repeat;
}

#spritesheet path {
  fill: #ffffff;
}
#spritesheet #viewBox {

}

main {
}

header {
}

.logo{
    height: 60px;
    width: 120px;
    line-height: 60px;

    -moz-border-radius: 100px/50px; /* or 50% */
    border-radius: 100px/50px; /* or 50% */
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 1);

    background-color: rgb(255,105,180);
    color: black;
    text-align: center;
    font-size: 2em;
    font-family: 'Monoton', sans-serif;
}

.fun{
    font-family: monospace;
    text-transform: uppercase;
    font-size: 4em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;

    -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));

    display: flex;
    justify-content: flex-end;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}


section {
	/* color rgb(243,234,95) is used */
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(243,234,95)
}
section > div:nth-child(1) {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */   
    background-color: rgb(192,77,249);
    width: 50%;
}

section > div:nth-child(2) {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */   
    background-color: rgb(43,209,252);
    width: 50%;
}

section > div:nth-child(3) {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */   
    background-color: rgb(192,77,249);
    width: 50%;
}

section > div:nth-child(4) {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */   
    background-color: rgb(43,209,252);
    width: 50%;
}

section > aNastyNthChildSelectorToWrite {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
	/* background color is  rgb(192,77,249) */

    
}
section > aNastyNthChildSelectorToWrite {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    /* background color is  rgb(43,209,252) */

}
section > nth-child(3):after {
	/* gave you the nth child after selector for free to inspire you */
	/* generated content in here ... a property can do that */

	}

	
	/* a freebie for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
}


/* Opps truncated the file for you to fill in */

/* Solution given should be below 250 lines, solution we had was below 200 easily */